name: Laravel
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:
    permissions:
      security-events: write # for uploading code scanning alert info
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    steps:
    - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
      with:
        php-version: '7.1.3'
        tools: composer:2.2, phpunit
    - uses: actions/checkout@v4
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Composer Update
      run: composer update
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: phpunit
    - name: npm i 
      env:
        NODE_OPTIONS: --openssl-legacy-provider
      run: npm i ; npm run dev
    - name: curl -i localhost:3001
      run: |
        npx http-server -p 3001 -c-1 & npx_server=$!  # Start in background, capture PID
    - name: Run SOOS DAST Analysis
      uses: soos-io/soos-dast-github-action@a7eb40b94c1c81eb76b178ba1befdc21823f86fa
      with:
        client_id: ${{ secrets.SOOS_CLIENT_ID }}
        api_key: ${{ secrets.SOOS_API_KEY }}
        project_name: "test run"
        scan_mode: "baseline"
        target_url: "http://127.0.0.1:3001"
        export_format: "Sarif"
        export_file_type: "Json"
    - name: Find and rename SARIF file since it is unique
      run: |
        file=$(find . -name "*.sarif.json" | head -n 1)
        if [ -n "$file" ]; then
          mv "$file" output.sarif.json
          echo "Renamed $file to output.sarif.json"
        else
          echo "No SARIF file found" && exit 1
        fi
    - name: Upload SOOS DAST SARIF Report
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: output.sarif.json
    - name: kill server
      run: |
        kill $npx_server  # Cleanup